<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<!--<![endif]-->
<!-- start: HEAD -->
<!--<![endif]-->
<!-- start: HEAD -->

<head>
<title>dKnow - List User</title>
<!-- start: META -->
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="" name="description" />
<meta content="" name="author" />
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fonts/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/main-responsive.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/iCheck/skins/all.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/perfect-scrollbar/src/perfect-scrollbar.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/theme_light.css}"
	id="skin_color">
<link rel="stylesheet" type="text/css" th:href="@{/css/print.css}"
	media="print" />

<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/select2/select2.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/plugins/DataTables/media/css/DT_bootstrap.css}" />

</head>
<!-- end: HEAD -->
<!-- start: BODY -->

<body>
	<div class="navbar navbar-inverse navbar-fixed-top"
		th:replace="fragment/header :: template-main-header">Header Here</div>
	<!-- start: MAIN CONTAINER -->
	<div class="main-container">
		<div class="navbar-content">
			<!-- start: SIDEBAR -->
			<div class="navbar-content"
				th:replace="fragment/menu-fragment :: template-main-navigation">
				Navigation Menu Here</div>
			<!-- end: SIDEBAR -->
		</div>
		<!-- start: PAGE -->
		<div class="main-content">
			<!-- start: PANEL CONFIGURATION MODAL FORM -->
			<div class="modal fade" id="panel-config" tabindex="-1" role="dialog"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title">Panel Configuration</h4>
						</div>
						<div class="modal-body">Here will be a configuration form</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save
								changes</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- end: SPANEL CONFIGURATION MODAL FORM -->
			<div class="container">
				<!-- start: PAGE HEADER -->
				<div class="row">
					<div class="col-sm-12">
						<!-- start: STYLE SELECTOR BOX -->
						<div id="style_selector" class="hidden-xs">
							<div id="style_selector_container">
								<div class="style-main-title">Style Selector</div>
								<div class="box-title">Choose Your Layout Style</div>
								<div class="input-box">
									<div class="input">
										<select name="layout">
											<option value="default">Wide</option>
											<option value="boxed">Boxed</option>
										</select>
									</div>
								</div>
								<div class="box-title">Choose Your Header Style</div>
								<div class="input-box">
									<div class="input">
										<select name="header">
											<option value="fixed">Fixed</option>
											<option value="default">Default</option>
										</select>
									</div>
								</div>
								<div class="box-title">Choose Your Footer Style</div>
								<div class="input-box">
									<div class="input">
										<select name="footer">
											<option value="default">Default</option>
											<option value="fixed">Fixed</option>
										</select>
									</div>
								</div>
								<div class="box-title">Backgrounds for Boxed Version</div>
								<div class="images boxed-patterns">
									<a id="bg_style_1" href="#"><img alt=""
										src="assets/images/bg.png"></a> <a id="bg_style_2" href="#"><img
										alt="" src="assets/images/bg_2.png"></a> <a id="bg_style_3"
										href="#"><img alt="" src="assets/images/bg_3.png"></a> <a
										id="bg_style_4" href="#"><img alt=""
										src="assets/images/bg_4.png"></a> <a id="bg_style_5"
										href="#"><img alt="" src="assets/images/bg_5.png"></a>
								</div>
								<div class="box-title">5 Predefined Color Schemes</div>
								<div class="images icons-color">
									<a id="light" href="#"><img class="active" alt=""
										src="assets/images/lightgrey.png"></a> <a id="dark" href="#"><img
										alt="" src="assets/images/darkgrey.png"></a> <a
										id="black_and_white" href="#"><img alt=""
										src="assets/images/blackandwhite.png"></a> <a id="navy"
										href="#"><img alt="" src="assets/images/navy.png"></a> <a
										id="green" href="#"><img alt=""
										src="assets/images/green.png"></a>
								</div>
								<div class="box-title">Style it with LESS</div>
								<div class="images">
									<div class="form-group">
										<label> Basic </label> <input type="text" value="#ffffff"
											class="color-base">
										<div class="dropdown">
											<a class="add-on dropdown-toggle" data-toggle="dropdown"><i
												style="background-color: #ffffff"></i></a>
											<ul class="dropdown-menu pull-right">
												<li>
													<div class="colorpalette"></div>
												</li>
											</ul>
										</div>
									</div>
									<div class="form-group">
										<label> Text </label> <input type="text" value="#555555"
											class="color-text">
										<div class="dropdown">
											<a class="add-on dropdown-toggle" data-toggle="dropdown"><i
												style="background-color: #555555"></i></a>
											<ul class="dropdown-menu pull-right">
												<li>
													<div class="colorpalette"></div>
												</li>
											</ul>
										</div>
									</div>
									<div class="form-group">
										<label> Elements </label> <input type="text" value="#007AFF"
											class="color-badge">
										<div class="dropdown">
											<a class="add-on dropdown-toggle" data-toggle="dropdown"><i
												style="background-color: #007AFF"></i></a>
											<ul class="dropdown-menu pull-right">
												<li>
													<div class="colorpalette"></div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div style="height: 25px; line-height: 25px; text-align: center">
									<a class="clear_style" href="#"> Clear Styles </a> <a
										class="save_style" href="#"> Save Styles </a>
								</div>
							</div>
							<div class="style-toggle close"></div>
						</div>
						<!-- end: STYLE SELECTOR BOX -->
						<!-- start: PAGE TITLE & BREADCRUMB -->
						<ol class="breadcrumb">
							<li><i class="clip-grid-6"></i> <a href="#"> Menu Admin
							</a></li>
							<li class="active">List User</li>
							<li class="search-box">
								<form class="sidebar-search">
									<div class="form-group">
										<input type="text" placeholder="Start Searching...">
										<button class="submit">
											<i class="clip-search-3"></i>
										</button>
									</div>
								</form>
							</li>
						</ol>
						<div class="page-header">
							<h1>
								Data Tables <small>User List</small>
							</h1>
						</div>
						<!-- end: PAGE TITLE & BREADCRUMB -->
					</div>
				</div>

				<!-- end: PAGE HEADER -->
				<!-- start: PAGE CONTENT -->

				<!-- Start : Alert After Confirm If Failed Changed -->
				<div class="alert alert-danger">
					<button data-dismiss="alert" class="close">&times;</button>
					<i class="fa fa-times-circle"></i> <strong>Ooopss!</strong>
					Something went wrong, please try again later!.
				</div>
				<!-- End : Alert After Confirm If Failed Changed -->

				<!-- Start : Alert After Confirm If success changed -->
				<div class="alert alert-success">
					<button data-dismiss="alert" class="close">&times;</button>
					<i class="fa fa-check-circle"></i> <strong>Success!</strong> You
					had been changed "Username" Role from <span
						class="label label-success">User </span> &nbsp; to <span
						class="label label-warning"> Moderator</span>!.
				</div>
				<!-- End : Alert After Confirm If Success Changed -->

				<!-- Start : Alert After Success Sending Warning Message-->
				<div class="alert alert-success">
					<button data-dismiss="alert" class="close">&times;</button>
					<i class="fa fa-check-circle"></i> <strong>Success!</strong> Your
					warning message has been sent !
				</div>
				<!-- End : Alert After Success Sending Warning Message -->

				<!-- Modal Edit Role -->
				<div class="modal fade" id="editRole" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<label class="modal-title center ">Edit Role</label>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<input class="form-control" id="email" type="hidden">
								<input class="form-control" id="role" type="hidden">
								<div class="alert alert-warning center">
									<i class="fa fa-exclamation-triangle"></i> <strong>Warning!</strong>
									at this moment you will increase or decrease position users, be
									careful before you change it !
								</div>
								<label> Current Role &nbsp;<span
									class="label label-success"> User &nbsp;</span> <span
									class="label label-warning"> Moderator &nbsp;</span> <span
									class="label label-danger"> Admin &nbsp;</span>
								</label> 
								
								<!-- GET ROLE NAME -->
								<select id="roleName" class="form-control">
									<option value="user">User</option>
									<option value="admin">Admin</option>
								</select>
							
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<a href="#" class="btn btn-primary" th:attr="onclick='javascript:roleName();'"
									data-toggle="modal" > Save
									Changes </a>
							</div>
						</div>
					</div>
				</div>
				<!-- End : Modal Edit Role -->

				<!-- Start : Alert For Edit Role -->
				<div class="modal fade" id="alertEditRole" tabindex="-1"
					role="dialog" aria-labelledby="alertEditRole" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<label class="modal-title center ">Edit Role</label>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
							
														<form th:action="@{/admin/user/change}" method="post" th:object="${user}">
							<input class="form-control" id="stringEmail" type="hidden" th:field="*{email}">
							<input class="form-control" id="stringRole" type="hidden" th:field="*{role}"> 
							
														
							
								<div class="alert alert-danger center">
									<i class="fa fa-times-circle"></i> <strong>Alert!</strong> Are
									you sure to do this?
								</div>
								<div class="center">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary"
										>Confirm</button>
								</div>
															</form>
							</div>

						</div>
					</div>
				</div>
				<!-- End : Alert For Edit Role -->

				<!-- Start : Modal Warning User -->
				<div class="modal fade" id="userWarning" tabindex="-1" role="dialog"
					aria-labelledby="#userWarning" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<label class="modal-title center ">Message Warning</label>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="recipient-name" class="col-form-label">Recipient:</label>
										<input type="text" class="form-control" id="recipient-name"
											placeholder="user@example.com" disabled>

									</div>
									<div class="form-group">
										<label for="message-text" class="col-form-label">Reasons:</label>
										<textarea class="form-control" id="message-text"></textarea>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Send
									message</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End : Modal Warning User -->

				<!-- Start : Modal Banned User -->
				<div class="modal fade" id="userBanned" tabindex="-1" role="dialog"
					aria-labelledby="#userBanned" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<label class="modal-title center ">Message Banned</label>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="recipient-name" class="col-form-label">Recipient:</label>
										<input type="text" class="form-control" id="recipient-name"
											placeholder="user@example.com" disabled>

									</div>
									<div class="form-group">
										<label for="message-text" class="col-form-label">Reasons:</label>
										<textarea class="form-control" id="message-text"></textarea>
									</div>

									<label>Banned From </label>
									<div class="form-group">
										<div class='input-group date' id='datetimepicker1'>
											<input type='text' class="form-control" /> <span
												class="input-group-addon"> <span
												class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>

									<label>Until </label>
									<div class="form-group">
										<div class='input-group date' id='datetimepicker1'>
											<input type='text' class="form-control" /> <span
												class="input-group-addon"> <span
												class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>


								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Send
									message</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End : Modal Banned User -->

				<div class="row">
					<div class="col-md-12">
						<!-- start: DYNAMIC TABLE PANEL -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-external-link-square"></i> Data Table
								<div class="panel-tools">
									<a class="btn btn-xs btn-link panel-collapse collapses"
										href="#"> </a> <a class="btn btn-xs btn-link panel-config"
										href="#panel-config" data-toggle="modal"> <i
										class="fa fa-wrench"></i>
									</a> <a class="btn btn-xs btn-link panel-refresh" href="#"> <i
										class="fa fa-refresh"></i>
									</a> <a class="btn btn-xs btn-link panel-expand" href="#"> <i
										class="fa fa-resize-full"></i>
									</a> <a class="btn btn-xs btn-link panel-close" href="#"> <i
										class="fa fa-times"></i>
									</a>
								</div>
							</div>
							<div class="panel-body">
								<table
									class="table table-striped table-bordered table-hover table-full-width"
									id="sample_1">
									<thead>
										<tr>
											<th>Name</th>
											<th class="hidden-xs center">Email</th>
											<th>Date Created</th>
											<th class="hidden-xs">Type</th>
											<th>Photo Profile</th>
											<th>Total Post</th>
											<th class="center">Role</th>
											<th class="center">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="data : ${list_user}" id="company_list">
											<td th:text="${data.name}">User Example 1</td>
											<td><a href="#" rel="nofollow" target="_blank"
												th:text="${data.email}"> user1@example.com </a></td>
											<td th:text="${data.createdDate}">20 Agustus 2019</td>
											<td th:text="${data.type}"></td>
											<td class="center"><img th:src="${data.imageUrl}"
												width="50px" height="50px" alt="Photo Profile"></td>
											<td class="center">30 Post</td>
											<td class="center"><span th:if="${data.role == 'USER'}"
												class="label label-success">user</span> <span
												th:if="${data.role == 'ADMIN'}" class="label label-danger">Admin</span>
											</td>
											<td class="center">
												<div class="btn-group">
													<button type="button" class="btn btn-purple">
														<i class="fa fa-wrench"></i> Setting
													</button>
													<button data-toggle="dropdown"
														class="btn btn-purple dropdown-toggle">
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<!-- Button trigger modal --> <a href="#"
															th:attr="onclick='javascript:role(\'' + ${data.email} + '\');'"> <i
																class="fa fa-pencil"></i> Edit Role
														</a>
														</li>
														<li><a href="#"> <i class="clip-list"></i> List
																Article User
														</a></li>
														<li><a href="#userWarning" data-toggle="modal"
															data-target="#userWarning"
															data-whatever="@guser@example.com"><i
																class="clip-warning"></i> Warning User </a></li>
														<li><a href="#userBanned" data-toggle="modal"
															data-target="#userBanned"><i class="fa fa-ban"></i>
																Banned </a></li>
													</ul>
												</div>
											</td>
										</tr>





									</tbody>
								</table>
							</div>
						</div>
						<!-- end: DYNAMIC TABLE PANEL -->
					</div>
				</div>
				<!-- end: PAGE CONTENT-->
			</div>
		</div>
		<!-- end: PAGE -->
	</div>
	<!-- end: MAIN CONTAINER -->

	<!-- start: FOOTER -->
	<div th:replace="fragment/body-fragment :: template-body-script">
		Body Scipt Here</div>
	<div class="footer clearfix">
		<div class="footer-inner">2019 &copy; Digital Knowledge.</div>
		<div class="footer-items">
			<span class="go-top"><i class="clip-chevron-up"></i></span>
		</div>
	</div>
	<div th:replace="fragment/selected-menu :: list-role">Selected
		Menu</div>
	<script type="text/javascript" th:inline="javascript">
	
	
	var email;
	var role;
	
	
	var role = function(emails) {
		$('#editRole').modal('show');
		$('#email').val(emails);
		console.log(email);
		email = $('#email').val();
		console.log("email cuy : " + email);
        $('#role').val('USER');
        role = $('#role').val();
	}
	
	
	$(document).ready(function(){
	    $("select.form-control").change(function(){
	        var selectedCountry = $(this).children("option:selected").val();
	        $('#role').val(selectedCountry);
	        role = selectedCountry;
	    });
	});
	
	var roleName = function() {
		$('#alertEditRole').modal('show');
		$('#stringEmail').val(email);
		$('#stringRole').val(role);
		console.log(email);
	}

	</script>
</body>
<!-- end: BODY -->

</html>