<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- start: HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top"
	th:fragment="template-main-header">
	<!-- start: TOP NAVIGATION CONTAINER -->
	<div class="container">
		<div class="navbar-header">
			<!-- start: RESPONSIVE MENU TOGGLER -->
			<button data-target=".navbar-collapse" data-toggle="collapse"
				class="navbar-toggle" type="button">
				<span class="clip-list-2"></span>
			</button>
			<!-- end: RESPONSIVE MENU TOGGLER -->
			<!-- start: LOGO -->
			<a class="navbar-brand" th:href="@{/}"> TBXONE </a>
			<!-- end: LOGO -->
		</div>
		<div class="navbar-tools">
			<!-- start: TOP NAVIGATION MENU -->
			<ul class="nav navbar-right">

				<li class="dropdown current-user"><a data-toggle="dropdown"
					class="dropdown-toggle" href="#"> <img
						th:if="${profile_image != null}"
						th:src="@{/user-image/} + ${profile_image.filecode}"
						class="circle-img" style="width: 30px; height: 30px"
						alt="User Profile"> <img th:if="${profile_image == null}"
						th:src="@{/images/no_image.pn}" class="circle-img" style="width: 30px; height: 30px" alt="no_image">
						<span class="username" sec:authentication="name">Giovani B
							Patrisius</span> <i class="clip-chevron-down"></i>
				</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/setting-profile/user}"> <i
								class="clip-user-2"></i> &nbsp;My Profile
						</a></li>
						<li><a th:href="@{/setting-profile/change-password}"> <i
								class="clip-key"></i> &nbsp;Change Password
						</a></li>
						<li><a th:href="@{/logout}"> <i class="clip-exit"></i>
								&nbsp;Log Out
						</a></li>
					</ul></li>
				<!-- end: USER DROPDOWN -->
			</ul>
			<!-- end: TOP NAVIGATION MENU -->
		</div>
	</div>
	<!-- end: TOP NAVIGATION CONTAINER -->
</div>


<div class="navbar navbar-inverse navbar-fixed-top"
	th:fragment="template-email-header">
	<!-- start: TOP NAVIGATION CONTAINER -->
	<div class="container">
		<div class="navbar-header">
			<!-- start: RESPONSIVE MENU TOGGLER -->
			<button data-target=".navbar-collapse" data-toggle="collapse"
				class="navbar-toggle" type="button">
				<span class="clip-list-2"></span>
			</button>
			<!-- end: RESPONSIVE MENU TOGGLER -->
			<!-- start: LOGO -->
			<a class="navbar-brand" th:href="@{/}"> TBXONE </a>
			<!-- end: LOGO -->
		</div>

	</div>
	<!-- end: TOP NAVIGATION CONTAINER -->
</div>

</html>