<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="template-head">
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/fonts/style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/main-responsive.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/iCheck/skins/all.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/perfect-scrollbar/src/perfect-scrollbar.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/theme_light.css}" id="skin_color">
		<link rel="stylesheet" type="text/css" th:href="@{/css/print.css}" media="print" />
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-social-buttons/social-buttons-3.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/mainloader.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-modal/css/bootstrap-modal.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/lobibox/lobibox.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/lobibox/animate.css}"/>
		<!--[if IE 7]>
		<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
						<!-- start: CSS REQUIRED FOR THIS LIST-USER ONLY -->

		
		
				<link rel="stylesheet" th:href="@{/plugins/fullcalendar/fullcalendar/fullcalendar.css}">
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		
				<link rel="stylesheet" type="text/css" th:href="@{/plugins/datepicker/css/datepicker.css}">
		
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css}">

		
		<!-- CSS adjustments for browsers with JavaScript disabled -->
		<noscript>
			<link rel="stylesheet" type="text/css" th:href="@{/plugins/jQuery-File-Upload/css/jquery.fileupload-ui-noscript.css}">
		</noscript>
		
		

		
		<link rel="shortcut icon" href="favicon.ico" />
		</head>
</html>