
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div class="navbar-content" th:fragment="template-main-navigation">
				<!-- start: SIDEBAR -->
				<div class="main-navigation navbar-collapse collapse">
					<!-- start: MAIN MENU TOGGLER BUTTON -->
					<div class="navigation-toggler">
						<i class="clip-chevron-left"></i>
						<i class="clip-chevron-right"></i>
					</div>
					<!-- end: MAIN MENU TOGGLER BUTTON -->
					<!-- start: MAIN NAVIGATION MENU -->
					<ul class="main-navigation-menu" id="dashboard">
					
					
						<li id="navigationMenuDashborad">
							<a th:href="@{/user}"><i class="clip-home-3"></i>
								<span class="title"> Dashboard </span><span class="selected"></span>
							</a>
						</li>
						<li id="menuArticle">
							<a href="javascript:void(0)"><i class="clip-screen"></i>
								<span class="title"> Menu Article </span><i class="icon-arrow"></i>
								<span class="selected"></span>
							</a>
							<ul class="sub-menu">
								<li id="createArticle">
									<a th:href="@{/user/create-article}">
										<span class="title"> Create Article </span>
										<span class="badge badge-new">new</span>
									</a>
								</li>
							</ul>
						</li>
						<li id="menuSetting" sec:authorize="hasAnyAuthority('ADMIN')">
							<a href="javascript:void(0)"><i class="clip-cog-2"></i>
								<span class="title"> Menu Setting </span><i class="icon-arrow"></i>
								<span class="selected"></span>
							</a>
							<ul class="sub-menu">
								<li id="listUser">
									<a th:href="@{/admin/user-list}">
										<span class="title"> List User </span>
									</a>
								</li>
							</ul>
						</li>
						<li id="menuProfile">
							<a href="javascript:void(0)"><i class="clip-user-2"></i>
								<span class="title"> User Setting </span><i class="icon-arrow"></i>
								<span class="selected"></span>
							</a>
							<ul class="sub-menu">
								<li id="profile">
									<a th:href="@{/user/profile}">
										<span class="title"> Profile </span>
									</a>
								</li>
							</ul>
						</li>
						
						<li id="chatMenu">
							<a th:href="@{/user/chat}"><i class="fa fa-comments-o"></i>
								<span class="title"> Chat </span>
							</a>
						</li>
 
						<li>
							<a th:href="@{/}"><i class="clip-exit"></i>
								<span class="title"> Back to blog </span>
							</a>
						</li>
					</ul>
					<!-- end: MAIN NAVIGATION MENU -->
				</div>
				<!-- end: SIDEBAR -->
			</div>
</html>