<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3 Version: 1.0 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>Clip-One - Responsive Admin Template</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
<head th:replace="fragment/head-fragment :: template-head">
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body class="error-full-page">
		<!-- start: PAGE -->
		<div class="container">
			<div class="row">
				<!-- start: 404 -->
				<div class="col-sm-12 page-error">
					<div class="error-number teal">
						404
					</div>
					<div class="error-details col-sm-6 col-sm-offset-3">
						<h3>Oops! You are stuck at 404</h3>
						<p>
							Unfortunately the page you were looking for could not be found.
							<br>
							It may be temporarily unavailable, moved or no longer exist.
							<br>
							Check the URL you entered for any mistakes and try again.
							<br>
							<a th:href="@{/}" class="btn btn-teal btn-return">
								Return home
							</a>
							<br>
							Still no luck?
							<br>
							Search for whatever is missing, or take a look around the rest of our site.
						</p>
						<form action="#">
							<div class="input-group">
								<input type="text" placeholder="keyword..." size="16" class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-teal">
										Search
									</button> </span>
							</div>
						</form>
					</div>
				</div>
				<!-- end: 404 -->
			</div>
		</div>
		<!-- end: PAGE -->
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="assets/plugins/respond.min.js"></script>
		<script src="assets/plugins/excanvas.min.js"></script>
		<![endif]-->
	<div
		th:replace="fragment/body-fragment :: template-body-script">
		Body Scipt Here</div>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
			});
		</script>
	</body>
	<!-- end: BODY -->
</html>