<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Callie HTML Template</title>

<!-- Google font -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700"
	rel="stylesheet">

<!-- Bootstrap -->
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

<!-- Font Awesome Icon -->
<link rel="stylesheet" href="/css/font-awesome.min.css">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="/css/style.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<!-- HEADER -->
	<header id="header">
		<!-- NAV -->
		<div id="nav">
			<!-- Top Nav -->
			<div id="nav-top">
				<div class="container">
					<!-- social -->
					<ul class="nav-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					</ul>
					<!-- /social -->

					<!-- logo -->
					<div class="nav-logo">
						<div class="logo">
							<a th:href="@{/}">LEARN-<i class="clip-clip"></i>MORE</a>
						</div>
					</div>
					<!-- /logo -->

					<!-- search & aside toggle -->
					<div class="nav-btns">
						<button class="aside-btn">
							<i class="fa fa-bars"></i>
						</button>
						<button class="search-btn">
							<i class="fa fa-search"></i>
						</button>
						<div id="nav-search">
							<form>
								<input class="input" name="search"
									placeholder="Enter your search...">
							</form>
							<button class="nav-close search-close">
								<span></span>
							</button>
						</div>
					</div>
					<!-- /search & aside toggle -->
				</div>
			</div>
			<!-- /Top Nav -->

			<!-- Main Nav -->
			<div id="nav-bottom">
				<div class="container">
					<!-- nav -->
					<ul class="nav-menu">
						<li class="has-dropdown"><a href="index.html">Home</a>
							<div class="dropdown">
								<div class="dropdown-body">
									<ul class="dropdown-list">
										<li><a href="category.html">Category page</a></li>
										<li><a href="blog-post.html">Post page</a></li>
										<li><a href="author.html">Author page</a></li>
										<li><a href="about.html">About Us</a></li>
										<li><a href="contact.html">Contacts</a></li>
										<li><a href="blank.html">Regular</a></li>
									</ul>
								</div>
							</div></li>
						<li class="has-dropdown megamenu"><a href="#">Lifestyle</a>
							<div class="dropdown tab-dropdown">
								<div class="row">
									<div class="col-md-2">
										<ul class="tab-nav">
											<li class="active"><a data-toggle="tab" href="#tab1">Lifestyle</a></li>
											<li><a data-toggle="tab" href="#tab2">Fashion</a></li>
											<li><a data-toggle="tab" href="#tab1">Health</a></li>
											<li><a data-toggle="tab" href="#tab2">Travel</a></li>
										</ul>
									</div>
									<div class="col-md-10">
										<div class="dropdown-body tab-content">
											<!-- tab1 -->
											<div id="tab1" class="tab-pane fade in active">
												<div class="row">
													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="/./img/post-10.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Travel</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Sed ut perspiciatis, unde
																		omnis iste natus error sit</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->

													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="/./img/post-13.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Travel</a> <a
																		href="category.html">Lifestyle</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Bla.</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->

													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="/./img/post-12.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Lifestyle</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Mel ut impetus suscipit
																		tincidunt. Cum id ullum laboramus persequeris.</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->
												</div>
											</div>
											<!-- /tab1 -->

											<!-- tab2 -->
											<div id="tab2" class="tab-pane fade in">
												<div class="row">
													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="/./img/post-5.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Lifestyle</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Postea senserit id eos,
																		vivendo periculis ei qui</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->

													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="/./img/post-8.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Fashion</a> <a
																		href="category.html">Lifestyle</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Sed ut perspiciatis, unde
																		omnis iste natus error sit</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->

													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="/./img/post-9.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Lifestyle</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Mel ut impetus suscipit
																		tincidunt. Cum id ullum laboramus persequeris.</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->
												</div>
											</div>
											<!-- /tab2 -->

											<!-- /tab3 tab4 .. -->
										</div>
									</div>
								</div>
							</div></li>
						<li class="has-dropdown megamenu"><a href="#">Fashion</a>
							<div class="dropdown">
								<div class="dropdown-body">
									<div class="row">
										<div class="col-md-3">
											<h4 class="dropdown-heading">Categories</h4>
											<ul class="dropdown-list">
												<li><a href="#">Lifestyle</a></li>
												<li><a href="#">Fashion</a></li>
												<li><a href="#">Technology</a></li>
												<li><a href="#">Health</a></li>
												<li><a href="#">Travel</a></li>
											</ul>
										</div>
										<div class="col-md-3">
											<h4 class="dropdown-heading">Lifestyle</h4>
											<ul class="dropdown-list">
												<li><a href="#">Lifestyle</a></li>
												<li><a href="#">Fashion</a></li>
												<li><a href="#">Health</a></li>
											</ul>
											<h4 class="dropdown-heading">Technology</h4>
											<ul class="dropdown-list">
												<li><a href="#">Lifestyle</a></li>
												<li><a href="#">Travel</a></li>
											</ul>
										</div>
										<div class="col-md-3">
											<h4 class="dropdown-heading">Fashion</h4>
											<ul class="dropdown-list">
												<li><a href="#">Fashion</a></li>
												<li><a href="#">Technology</a></li>
											</ul>
											<h4 class="dropdown-heading">Travel</h4>
											<ul class="dropdown-list">
												<li><a href="#">Lifestyle</a></li>
												<li><a href="#">Healtth</a></li>
												<li><a href="#">Fashion</a></li>
											</ul>
										</div>
										<div class="col-md-3">
											<h4 class="dropdown-heading">Health</h4>
											<ul class="dropdown-list">
												<li><a href="#">Technology</a></li>
												<li><a href="#">Fashion</a></li>
												<li><a href="#">Health</a></li>
												<li><a href="#">Travel</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div></li>
						<li><a href="#">Technology</a></li>
						<li><a href="#">Health</a></li>
						<li><a href="#">Travel</a></li>
					</ul>
					<!-- /nav -->
				</div>
			</div>
			<!-- /Main Nav -->

			<!-- Aside Nav -->
			<div id="nav-aside">
				<ul class="nav-aside-menu">
					<li><a href="index.html">Home</a></li>
					<li class="has-dropdown"><a>Categories</a>
						<ul class="dropdown">
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Fashion</a></li>
							<li><a href="#">Technology</a></li>
							<li><a href="#">Travel</a></li>
							<li><a href="#">Health</a></li>
						</ul></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="contact.html">Contacts</a></li>
					<li><a href="#">Advertise</a></li>
				</ul>
				<button class="nav-close nav-aside-close">
					<span></span>
				</button>
			</div>
			<!-- /Aside Nav -->
		</div>
		<!-- /NAV -->

		<!-- PAGE HEADER -->
		<div id="post-header" class="page-header">
			<div class="page-header-bg"
				th:style="'background-image:url(' + ${article.imageUrl} + ');'"
				data-stellar-background-ratio="0.5"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10" th:object="${article}">
						<div class="post-category">
							<a href="category.html" th:text="${article.category}"></a>
						</div>
						<h1 th:text="${article.title}"></h1>
						<ul class="post-meta">
							<li><a href="author.html" th:text="${article.author}"></a></li>
							<li th:text="${article.date}"></li>
							<li><i class="fa fa-comments"
								th:text="${article.totalComment}"></i></li>
							<li><i class="fa fa-eye" th:text="${article.seen}"></i></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /PAGE HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- post share -->
					<div class="section-row">
						<div class="post-share">
							<a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
							<a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
							<a href="#" class="social-pinterest"><i
								class="fa fa-pinterest"></i><span>Pin</span></a> <a href="#"><i
								class="fa fa-envelope"></i><span>Email</span></a>
						</div>
					</div>
					<!-- /post share -->

					<!-- post content -->
					<div class="section-row" th:utext="${article.content}"></div>
					<!-- /post content -->

					<!-- post tags -->
					<div class="section-row">
						<div class="post-tags">
							<ul>
								<li>TAGS:</li>
								<li><a href="#">Social</a></li>
								<li><a href="#">Lifestyle</a></li>
								<li><a href="#">Fashion</a></li>
								<li><a href="#">Health</a></li>
							</ul>
						</div>
					</div>
					<!-- /post tags -->

					<!-- post nav -->
					<div class="section-row">
						<div class="post-nav">
							<div class="prev-post">
								<a class="post-img" href="blog-post.html"><img
									src="/./img/widget-8.jpg" alt=""></a>
								<h3 class="post-title">
									<a href="#">Sed ut perspiciatis, unde omnis iste natus
										error sit</a>
								</h3>
								<span>Previous post</span>
							</div>

							<div class="next-post">
								<a class="post-img" href="blog-post.html"><img
									src="/./img/widget-10.jpg" alt=""></a>
								<h3 class="post-title">
									<a href="#">Postea senserit id eos, vivendo periculis ei
										qui</a>
								</h3>
								<span>Next post</span>
							</div>
						</div>
					</div>
					<!-- /post nav  -->

					<!-- post author -->
					<div class="section-row">
						<div class="section-title">
							<h3 class="title">
								About <a href="author.html">John Doe</a>
							</h3>
						</div>
						<div class="author media">
							<div class="media-left">
								<a href="author.html"> <img class="author-img media-object"
									src="/./img/avatar-1.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<ul class="author-social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /post author -->

					<!-- /related post -->
					<div>
						<div class="section-title">
							<h3 class="title">Related Posts</h3>
						</div>
						<div class="row">
							<!-- post -->
							<div class="col-md-4">
								<div class="post post-sm">
									<a class="post-img" href="blog-post.html"><img
										src="/./img/post-4.jpg" alt=""></a>
									<div class="post-body">
										<div class="post-category">
											<a href="category.html">Health</a>
										</div>
										<h3 class="post-title title-sm">
											<a href="blog-post.html">Postea senserit id eos, vivendo
												periculis ei qui</a>
										</h3>
										<ul class="post-meta">
											<li><a href="author.html">John Doe</a></li>
											<li>20 April 2018</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- /post -->

							<!-- post -->
							<div class="col-md-4">
								<div class="post post-sm">
									<a class="post-img" href="blog-post.html"><img
										src="/./img/post-6.jpg" alt=""></a>
									<div class="post-body">
										<div class="post-category">
											<a href="category.html">Fashion</a> <a href="category.html">Lifestyle</a>
										</div>
										<h3 class="post-title title-sm">
											<a href="blog-post.html">Mel ut impetus suscipit
												tincidunt. Cum id ullum laboramus persequeris.</a>
										</h3>
										<ul class="post-meta">
											<li><a href="author.html">John Doe</a></li>
											<li>20 April 2018</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- /post -->

							<!-- post -->
							<div class="col-md-4">
								<div class="post post-sm">
									<a class="post-img" href="blog-post.html"><img
										src="/./img/post-7.jpg" alt=""></a>
									<div class="post-body">
										<div class="post-category">
											<a href="category.html">Health</a> <a href="category.html">Lifestyle</a>
										</div>
										<h3 class="post-title title-sm">
											<a href="blog-post.html">Ne bonorum praesent cum, labitur
												persequeris definitionem quo cu?</a>
										</h3>
										<ul class="post-meta">
											<li><a href="author.html">John Doe</a></li>
											<li>20 April 2018</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- /post -->
						</div>
					</div>
					<!-- /related post -->

					<!-- post comments -->
					<div class="section-row">
						<div class="section-title">
							<h3 class="title" th:text="${totalComment} +' Comment'"></h3>
						</div>
						<div class="post-comments">
							<!-- comment -->
							<div class="media" th:each="data : ${list_comment}">
								<div class="media-left">
									<img class="media-object" src="/./img/avatar-2.jpg" alt="">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<h4 th:text="${data.name}">John Doe</h4>
										<span class="time">5 min ago</span>
									</div>
									<p th:text="${data.commentMessage}"></p>

									<!-- comment -->
									<button class="reply" id="replyComment" th:onclick="'reply('+${data.id}+');'"
										sec:authorize="isFullyAuthenticated()">Reply</button>
									<button class="reply" id="replyComment"
										th:onclick="'replyWithouth('+${data.id}+');'"
										sec:authorize="!isFullyAuthenticated()">Reply</button>
									<p>
									<div class="media media-author"
										th:each="reply: ${data.listreply}">
										<div class="media-left">
											<img class="media-object" src="/./img/avatar-1.jpg" alt="">
										</div>
										<div class="media-body">
											<div class="media-heading">
												<h4 th:text="${reply.name}">John Doe</h4>
												<span class="time">5 min ago</span>
											</div>
											<p th:text="${reply.commentMessage}"></p>
										</div>
									</div>
									<p></p>
									<!-- FOR JQUERY -->
									<div th:id="'reply' + ${data.id}" class="post-reply"></div>

								</div>
							</div>
						</div>
					</div>
					<div class="section-row">
						<div class="section-title">
							<h3 class="title">Leave a reply</h3>
						</div>
						<form th:action="@{/article-post/comment}" class="post-reply-qwe"
							method="post" th:object="${comment}">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="input" name="message" placeholder="Message"
											th:field="*{commentMessage}" required="required"></textarea>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input class="input" type="text" name="name"
											placeholder="Name" th:field="*{name}"> <input
											class="input" type="text" name="name" placeholder="Name"
											th:field="*{articleid}" hidden="hidden">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input class="input" type="email" name="email"
											placeholder="Email" th:field="*{email}">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input class="input" type="text" name="website"
											placeholder="Website" th:field="*{website}">
									</div>
								</div>
								<div class="col-md-12">
									<button class="primary-button">Submit</button>
								</div>

							</div>
						</form>
					</div>
					<!-- /post reply -->
				</div>
				<div class="col-md-4">
					<!-- ad widget -->
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block; margin: auto;"> <img
							class="img-responsive" src="/./img/ad-3.jpg" alt="">
						</a>
					</div>
					<!-- /ad widget -->

					<div class="navbar-content"
						th:replace="right-side-bar :: template-main-navigation">
						Navigation Menu Here</div>

					<!-- Ad widget -->
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block; margin: auto;"> <img
							class="img-responsive" src="/./img/ad-1.jpg" alt="">
						</a>
					</div>
					<!-- /Ad widget -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-3">
					<div class="footer-widget">
						<div class="footer-logo">
							<a href="index.html" class="logo"><img
								src="/./img/logo-alt.png" alt=""></a>
						</div>
						<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.
							Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
						<ul class="contact-social">
							<li><a href="#" class="social-facebook"><i
									class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="social-twitter"><i
									class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="social-google-plus"><i
									class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="social-instagram"><i
									class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget">
						<h3 class="footer-title">Categories</h3>
						<div class="category-widget">
							<ul>
								<li><a href="#">Lifestyle <span>451</span></a></li>
								<li><a href="#">Fashion <span>230</span></a></li>
								<li><a href="#">Technology <span>40</span></a></li>
								<li><a href="#">Travel <span>38</span></a></li>
								<li><a href="#">Health <span>24</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget">
						<h3 class="footer-title">Tags</h3>
						<div class="tags-widget">
							<ul>
								<li><a href="#">Social</a></li>
								<li><a href="#">Lifestyle</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Travel</a></li>
								<li><a href="#">Technology</a></li>
								<li><a href="#">Fashion</a></li>
								<li><a href="#">Life</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Magazine</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Health</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget">
						<h3 class="footer-title">Newsletter</h3>
						<div class="newsletter-widget">
							<form>
								<p>Nec feugiat nisl pretium fusce id velit ut tortor
									pretium.</p>
								<input class="input" name="newsletter"
									placeholder="Enter Your Email">
								<button class="primary-button">Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="footer-bottom row">
				<div class="col-md-6 col-md-push-6">
					<ul class="footer-nav">
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contacts</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-md-pull-6">
					<div class="footer-copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with <i
							class="fa fa-heart-o" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/main.js"></script>


	<script type="text/javascript" th:inline="javascript">
	
	
	function replyWithouth(data) {
		var html = '';
		clearReply();
	        html += '<div class="row">';
	        html += '<div class="col-md-12">';
	       	html += '<div class="form-group">';
	     	html += '<textarea class="input" name="message" placeholder="Message" required="required" id="commentBalasan"></textarea>';
	     	html += '</div>';
	     	html += '</div>';
	     	html += '<div class="col-md-4">';
	   		html += '<div class="form-group">';
	   		html += '<input class="input" type="text" id="replyId" hidden="hidden" value="'+data+'">';
	   		html += '<input class="input" type="text" name="name" placeholder="Name" required="required" id="replyName">';
	   		html += '</div>';
	   		html += '</div>';
	   		html += '<div class="col-md-4"> <div class="form-group"> <input class="input" type="email" name="email" placeholder="Email" required="required" id="replyEmail">';
	   		html += '</div>';
	   		html += '</div>';
	   		html += '<div class="col-md-4"> <div class="form-group"> <input class="input" type="text" name="website" placeholder="Website" required="required" id="replyWebsite">';
			html += '</div>';
			html += '</div>';
			html += '<div class="col-md-12"> <button class="primary-button" onsubmit="saveReply();">Submit</button>';
			html += ' <button class="reply" onclick="clearReply();">Cancel Reply</button>';
			html += '</div>';
			html += '</div>';
			$('#reply'+data+'').html(html);
	}
	
	function clearReply(){
		var html = '';
	   	$('.post-reply').html(html);
	}
	
	function reply(data) {
		var html = '';
	        html += '<div class="row">';
	        html += '<div class="col-md-12">';
	       	html += '<div class="form-group">';
	     	html += '<textarea class="input" name="message" placeholder="Message"></textarea>';
	     	html += '</div>';
	     	html += '</div>';
			html += '<div class="col-md-12"> <button class="primary-button">Submit</button> </div>';
			html += '</div>';
			html += '</form>';
			$('#reply'+data+'').html(html);
	}
		var saveReply = function() {
			var replyComment = $('#commentBalasan').val();
			var replyName = $('#replyName').val();
			var replyEmail = $('#replyEmail').val();
			var replyWebsite = $('#replyWebsite').val();
			var replyId = $('#replyId').val();
			var api_url = [[@{/ajax/article/reply-comment/rest}]];
			console.log(api_url);
			var JSONObject = {
					'replyComment' : replyComment,
					'replyName' : replyName,
					'replyWebsite' : replyWebsite,
					'replyEmail' : replyEmail,
					'replyId' : replyId
			};

			$.ajax({
				type : 'POST',
				url : api_url,
				data : JSON.stringify(JSONObject),
				contentType : 'application/json; charset=utf-8',
				async : true,
				success : function(result) {
					console.log("result");
					reload();
				},
				error : function(jqXHR, textStatus, errorThrown) {
					console.log(jqXHR.status + ' ' + jqXHR.responseText);
					console.log(errorThrown);
				}
			});
		}
		
		function reload() {
			window.location.reload();
		}
	</script>

</body>

</html>
