<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Index</title>

<!-- Google font -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700"
	rel="stylesheet">

<!-- Bootstrap -->
<link type="text/css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />

<!-- Font Awesome Icon -->
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<!-- HEADER -->
	<header id="header">
		<!-- NAV -->
		<div id="nav">
			<!-- Top Nav -->
			<div id="nav-top">
				<div class="container">
					<!-- social -->
					<ul class="nav-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					</ul>
					<!-- /social -->

					<!-- logo -->
					<div class="nav-logo">
						<div class="logo">
							LEARN-<i class="clip-clip"></i>MORE
						</div>
					</div>
					<!-- /logo -->

					<!-- search & aside toggle -->
					<div class="nav-btns" sec:authorize="!isFullyAuthenticated()">
						<a th:href="@{/login}">LOGIN</a>
						<button class="aside-btn">
							<i class="fa fa-bars"></i>
						</button>
						<button class="search-btn">
							<i class="fa fa-search"></i>
						</button>
						<div id="nav-search">
							<form>
								<input class="input" name="search"
									placeholder="Enter your search...">
							</form>
							<button class="nav-close search-close">
								<span></span>
							</button>
						</div>
					</div>
				<div class="nav-btns" sec:authorize="isFullyAuthenticated()">
						<a th:href="@{/logout}">LOGOUT &nbsp </a> | 
						<a th:href="@{/user}">&nbsp MENU</a>
						<button class="aside-btn">
							<i class="fa fa-bars"></i>
						</button>
						<button class="search-btn">
							<i class="fa fa-search"></i>
						</button>
						<div id="nav-search">
							<form>
								<input class="input" name="search"
									placeholder="Enter your search...">
							</form>
							<button class="nav-close search-close">
								<span></span>
							</button>
						</div>
					</div>
					<!-- /search & aside toggle -->
				</div>
			</div>
			<!-- /Top Nav -->

			<!-- Main Nav -->
			<div id="nav-bottom">
				<div class="container">
					<!-- nav -->
					<ul class="nav-menu">
						<li class="has-dropdown"><a href="index.html">Home</a>
							<div class="dropdown">
								<div class="dropdown-body">
									<ul class="dropdown-list">
										<li><a href="category.html">Category page</a></li>
										<li><a href="blog-post.html">Post page</a></li>
										<li><a href="author.html">Author page</a></li>
										<li><a href="about.html">About Us</a></li>
										<li><a href="contact.html">Contacts</a></li>
										<li><a href="blank.html">Regular</a></li>
									</ul>
								</div>
							</div></li>
						<li class="has-dropdown megamenu"><a href="#">Tutorial</a>
							<div class="dropdown tab-dropdown">
								<div class="row">
									<div class="col-md-2">
										<ul class="tab-nav">
											<li class="active"><a data-toggle="tab" href="#tab1">Java</a></li>
											<li><a data-toggle="tab" href="#tab2">Go</a></li>
											<li><a data-toggle="tab" href="#tab1">C++</a></li>
											<li><a data-toggle="tab" href="#tab2">PHP</a></li>
										</ul>
									</div>
									<div class="col-md-10">
										<div class="dropdown-body tab-content">
											<!-- tab1 -->
											<div id="tab1" class="tab-pane fade in active">
												<div class="row">
													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="./img/post-10.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Travel</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Sed ut perspiciatis, unde
																		omnis iste natus error sit</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->

													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="./img/post-13.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Travel</a> <a
																		href="category.html">Lifestyle</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Mel ut impetus suscipit
																		tincidunt. Cum id ullum laboramus persequeris.</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->

													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="./img/post-12.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Lifestyle</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Mel ut impetus suscipit
																		tincidunt. Cum id ullum laboramus persequeris.</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->
												</div>
											</div>
											<!-- /tab1 -->

											<!-- tab2 -->
											<div id="tab2" class="tab-pane fade in">
												<div class="row">
													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="./img/post-5.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Lifestyle</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Postea senserit id eos,
																		vivendo periculis ei qui</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->

													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="./img/post-8.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Fashion</a> <a
																		href="category.html">Lifestyle</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Sed ut perspiciatis, unde
																		omnis iste natus error sit</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->

													<!-- post -->
													<div class="col-md-4">
														<div class="post post-sm">
															<a class="post-img" href="blog-post.html"><img
																src="./img/post-9.jpg" alt=""></a>
															<div class="post-body">
																<div class="post-category">
																	<a href="category.html">Lifestyle</a>
																</div>
																<h3 class="post-title title-sm">
																	<a href="blog-post.html">Mel ut impetus suscipit
																		tincidunt. Cum id ullum laboramus persequeris.</a>
																</h3>
																<ul class="post-meta">
																	<li><a href="author.html">John Doe</a></li>
																	<li>20 April 2018</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /post -->
												</div>
											</div>
											<!-- /tab2 -->

											<!-- /tab3 tab4 .. -->
										</div>
									</div>
								</div>
							</div></li>
						<li class="has-dropdown megamenu"><a href="#">Fashion</a>
							<div class="dropdown">
								<div class="dropdown-body">
									<div class="row">
										<div class="col-md-3">
											<h4 class="dropdown-heading">Categories</h4>
											<ul class="dropdown-list">
												<li><a href="#">Lifestyle</a></li>
												<li><a href="#">Fashion</a></li>
												<li><a href="#">Technology</a></li>
												<li><a href="#">Health</a></li>
												<li><a href="#">Travel</a></li>
											</ul>
										</div>
										<div class="col-md-3">
											<h4 class="dropdown-heading">Lifestyle</h4>
											<ul class="dropdown-list">
												<li><a href="#">Lifestyle</a></li>
												<li><a href="#">Fashion</a></li>
												<li><a href="#">Health</a></li>
											</ul>
											<h4 class="dropdown-heading">Technology</h4>
											<ul class="dropdown-list">
												<li><a href="#">Lifestyle</a></li>
												<li><a href="#">Travel</a></li>
											</ul>
										</div>
										<div class="col-md-3">
											<h4 class="dropdown-heading">Fashion</h4>
											<ul class="dropdown-list">
												<li><a href="#">Fashion</a></li>
												<li><a href="#">Technology</a></li>
											</ul>
											<h4 class="dropdown-heading">Travel</h4>
											<ul class="dropdown-list">
												<li><a href="#">Lifestyle</a></li>
												<li><a href="#">Healtth</a></li>
												<li><a href="#">Fashion</a></li>
											</ul>
										</div>
										<div class="col-md-3">
											<h4 class="dropdown-heading">Health</h4>
											<ul class="dropdown-list">
												<li><a href="#">Technology</a></li>
												<li><a href="#">Fashion</a></li>
												<li><a href="#">Health</a></li>
												<li><a href="#">Travel</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div></li>
						<li><a href="#">Technology</a></li>
						<li><a href="#">Health</a></li>
						<li><a href="#">Travel</a></li>
					</ul>
					<!-- /nav -->
				</div>
			</div>
			<!-- /Main Nav -->

			<!-- Aside Nav -->
			<div id="nav-aside">
				<ul class="nav-aside-menu">
					<li><a href="index.html">Home</a></li>
					<li class="has-dropdown"><a>Categories</a>
						<ul class="dropdown">
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Fashion</a></li>
							<li><a href="#">Technology</a></li>
							<li><a href="#">Travel</a></li>
							<li><a href="#">Health</a></li>
						</ul></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="contact.html">Contacts</a></li>
					<li><a href="#">Advertise</a></li>
				</ul>
				<button class="nav-close nav-aside-close">
					<span></span>
				</button>
			</div>
			<!-- /Aside Nav -->
		</div>
		<!-- /NAV -->
	</header>
	<!-- /HEADER -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div id="hot-post" class="row hot-post">
				<div class="col-md-8 hot-post-left">
					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="blog-post.html"><img
							src="./img/hot-post-1.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title title-lg">
								<a href="blog-post.html">Postea senserit id eos, vivendo
									periculis ei qui</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
				<div class="col-md-4 hot-post-right">
					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="blog-post.html"><img
							src="./img/hot-post-2.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Sed ut perspiciatis, unde omnis
									iste natus error sit</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="blog-post.html"><img
							src="./img/hot-post-3.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Fashion</a> <a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Mel ut impetus suscipit tincidunt.
									Cum id ullum laboramus persequeris.</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- row -->
					<div class="row" id="appendArticle">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Recent posts</h2>
							</div>
						</div>
						<!-- post -->

						<!-- LOOP DISINI -->
						<div class="col-md-6 blogBox moreBox" id="classpost"
							th:each="artikel : ${listArticle}" style="display: none;">
							<div class="post">
								<a class="post-img"
									th:href="@{/article-post/}+${artikel.id}+'/'+${artikel.paramUrl}"><img
									th:src="${artikel.imageUrl}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="category.html" th:text="${artikel.category}"></a>
									</div>
									<h3 class="post-title">
										<a
											th:href="@{/article-post/}+${artikel.id}+'/'+${artikel.paramUrl}"
											th:text="${artikel.title}"></a>
									</h3>
									<ul class="post-meta">
										<li><a href="author.html" th:text="${artikel.author}"></a></li>
										<li th:text="${artikel.date}"></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /post -->
						<!-- /post -->

					</div>
					<!-- /row -->
					<div class="section-row loadmore text-center" id="loadMore">
						<a href="#" class="primary-button">Load More</a>
					</div>
					<!-- row -->
					
					
					
					<!-- ARTIKEL TEKNOLOGI -->
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">TECHNOLOGY</h2>
							</div>
						</div>
						<!-- post -->
						<div class="col-md-4" th:each="article : ${articleTech}">
							<div class="post post-sm">
								<a class="post-img" th:href="@{/article-post/}+${article.id}+'/'+${article.paramUrl}"><img
									th:src="${article.imageUrl}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="category.html" th:text="${article.category}"></a>
									</div>
									<h3 class="post-title title-sm">
										<a th:href="@{/article-post/}+${article.id}+'/'+${article.paramUrl}"
											th:text="${article.title}"></a>
									</h3>
									<ul class="post-meta">
										<li><a href="author.html" th:text="${article.author}">John Doe</a></li>
										<li th:text="${article.date}">20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /post -->
					</div>
					<!-- /row -->



					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Tutorial</h2>
							</div>
						</div>
						<!-- post -->
						<div class="col-md-4" th:each="article : ${articleTechAndTutorial}">
							<div class="post post-sm">
								<a class="post-img" th:href="@{/article-post/}+${article.id}+'/'+${article.paramUrl}"><img
									th:src="${article.imageUrl}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="category.html" th:text="${article.category}"></a>
									</div>
									<h3 class="post-title title-sm">
										<a th:href="@{/article-post/}+${article.id}+'/'+${article.paramUrl}"
											th:text="${article.title}"></a>
									</h3>
									<ul class="post-meta">
										<li><a href="author.html" th:text="${article.author}">John Doe</a></li>
										<li th:text="${article.date}">20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /post -->
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">News</h2>
							</div>
						</div>
						<!-- post -->
						<div class="col-md-4" th:each="article : ${newsArticle}">
							<div class="post post-sm">
								<a class="post-img" th:href="@{/article-post/}+${article.id}+'/'+${article.paramUrl}"><img
									th:src="${article.imageUrl}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="category.html" th:text="${article.category}"></a>
									</div>
									<h3 class="post-title title-sm">
										<a th:href="@{/article-post/}+${article.id}+'/'+${article.paramUrl}"
											th:text="${article.title}"></a>
									</h3>
									<ul class="post-meta">
										<li><a href="author.html" th:text="${article.author}">John Doe</a></li>
										<li th:text="${article.date}">20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /post -->
					</div>
					<!-- /row -->
				</div>
				<div class="col-md-4">
					<!-- ad widget-->
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block; margin: auto;"> <img
							class="img-responsive" src="./img/ad-3.jpg" alt="">
						</a>
					</div>
					<!-- /ad widget -->

					<div class="navbar-content"
						th:replace="right-side-bar :: template-main-navigation">
						Navigation Menu Here</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ad -->
				<div class="col-md-12 section-row text-center">
					<a href="#" style="display: inline-block; margin: auto;"> <img
						class="img-responsive" src="./img/ad-2.jpg" alt="">
					</a>
				</div>
				<!-- /ad -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-4">
					<div class="section-title">
						<h2 class="title">Lifestyle</h2>
					</div>
					<!-- post -->
					<div class="post">
						<a class="post-img" href="blog-post.html"><img
							src="./img/post-6.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Fashion</a> <a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Postea senserit id eos, vivendo
									periculis ei qui</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
				<div class="col-md-4">
					<div class="section-title">
						<h2 class="title">Fashion</h2>
					</div>
					<!-- post -->
					<div class="post">
						<a class="post-img" href="blog-post.html"><img
							src="./img/post-5.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Sed ut perspiciatis, unde omnis
									iste natus error sit</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
				<div class="col-md-4">
					<div class="section-title">
						<h2 class="title">Health</h2>
					</div>
					<!-- post -->
					<div class="post">
						<a class="post-img" href="blog-post.html"><img
							src="./img/post-9.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Mel ut impetus suscipit tincidunt.
									Cum id ullum laboramus persequeris.</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				<div class="col-md-4">
					<!-- post -->
					<div class="post post-widget">
						<a class="post-img" href="blog-post.html"><img
							src="./img/widget-1.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Travel</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Postea senserit id eos, vivendo
									periculis ei qui</a>
							</h3>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-widget">
						<a class="post-img" href="blog-post.html"><img
							src="./img/widget-2.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Technology</a> <a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Mel ut impetus suscipit tincidunt.
									Cum id ullum laboramus persequeris.</a>
							</h3>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-widget">
						<a class="post-img" href="blog-post.html"><img
							src="./img/widget-3.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Sed ut perspiciatis, unde omnis
									iste natus error sit</a>
							</h3>
						</div>
					</div>
					<!-- /post -->
				</div>
				<div class="col-md-4">
					<!-- post -->
					<div class="post post-widget">
						<a class="post-img" href="blog-post.html"><img
							src="./img/widget-4.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Health</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Ne bonorum praesent cum, labitur
									persequeris definitionem quo cu?</a>
							</h3>
						</div>
					</div>
					<!-- /post -->

					<!-- /post -->
					<div class="post post-widget">
						<a class="post-img" href="blog-post.html"><img
							src="./img/widget-5.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Health</a> <a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Sed ut perspiciatis, unde omnis
									iste natus error sit</a>
							</h3>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-widget">
						<a class="post-img" href="blog-post.html"><img
							src="./img/widget-6.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Fashion</a> <a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Postea senserit id eos, vivendo
									periculis ei qui</a>
							</h3>
						</div>
					</div>
					<!-- /post -->
				</div>
				<div class="col-md-4">
					<!-- post -->
					<div class="post post-widget">
						<a class="post-img" href="blog-post.html"><img
							src="./img/widget-8.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Travel</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Mel ut impetus suscipit tincidunt.
									Cum id ullum laboramus persequeris.</a>
							</h3>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-widget">
						<a class="post-img" href="blog-post.html"><img
							src="./img/widget-9.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Technology</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Postea senserit id eos, vivendo
									periculis ei qui</a>
							</h3>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-widget">
						<a class="post-img" href="blog-post.html"><img
							src="./img/widget-10.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Sed ut perspiciatis, unde omnis
									iste natus error sit</a>
							</h3>
						</div>
					</div>
					<!-- /post -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- post -->
					<div class="post post-row">
						<a class="post-img" href="blog-post.html"><img
							src="./img/post-13.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Travel</a> <a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Mel ut impetus suscipit tincidunt.
									Cum id ullum laboramus persequeris.</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-row">
						<a class="post-img" href="blog-post.html"><img
							src="./img/post-1.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Travel</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Sed ut perspiciatis, unde omnis
									iste natus error sit</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-row">
						<a class="post-img" href="blog-post.html"><img
							src="./img/post-5.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Postea senserit id eos, vivendo
									periculis ei qui</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-row">
						<a class="post-img" href="blog-post.html"><img
							src="./img/post-6.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Fashion</a> <a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Sed ut perspiciatis, unde omnis
									iste natus error sit</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-row">
						<a class="post-img" href="blog-post.html"><img
							src="./img/post-7.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Health</a> <a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title">
								<a href="blog-post.html">Ne bonorum praesent cum, labitur
									persequeris definitionem quo cu?</a>
							</h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					<!-- /post -->

					<div class="section-row loadmore text-center">
						<a href="#" class="primary-button">Load More</a>
					</div>
				</div>
				<div class="col-md-4">
					<!-- galery widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Instagram</h2>
						</div>
						<div class="galery-widget">
							<ul>
								<li><a href="#"><img src="./img/galery-1.jpg" alt=""></a></li>
								<li><a href="#"><img src="./img/galery-2.jpg" alt=""></a></li>
								<li><a href="#"><img src="./img/galery-3.jpg" alt=""></a></li>
								<li><a href="#"><img src="./img/galery-4.jpg" alt=""></a></li>
								<li><a href="#"><img src="./img/galery-5.jpg" alt=""></a></li>
								<li><a href="#"><img src="./img/galery-6.jpg" alt=""></a></li>
							</ul>
						</div>
					</div>
					<!-- /galery widget -->

					<!-- Ad widget -->
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block; margin: auto;"> <img
							class="img-responsive" src="./img/ad-1.jpg" alt="">
						</a>
					</div>
					<!-- /Ad widget -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-3">
					<div class="footer-widget">
						<div class="footer-logo">
							<a href="index.html" class="logo"><img
								src="./img/logo-alt.png" alt=""></a>
						</div>
						<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.
							Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
						<ul class="contact-social">
							<li><a href="#" class="social-facebook"><i
									class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="social-twitter"><i
									class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="social-google-plus"><i
									class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="social-instagram"><i
									class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget">
						<h3 class="footer-title">Categories</h3>
						<div class="category-widget">
							<ul th:each="category : ${listCategory}">
								<li><a href="#" th:text="${category.categoryName}"><span>451</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget">
						<h3 class="footer-title">Tags</h3>
						<div class="tags-widget">
							<ul>
								<li><a href="#">Social</a></li>
								<li><a href="#">Lifestyle</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Travel</a></li>
								<li><a href="#">Technology</a></li>
								<li><a href="#">Fashion</a></li>
								<li><a href="#">Life</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Magazine</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Health</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-widget">
						<h3 class="footer-title">Newsletter</h3>
						<div class="newsletter-widget">
							<form>
								<p>Nec feugiat nisl pretium fusce id velit ut tortor
									pretium.</p>
								<input class="input" name="newsletter"
									placeholder="Enter Your Email">
								<button class="primary-button">Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="footer-bottom row">
				<div class="col-md-6 col-md-push-6">
					<ul class="footer-nav">
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contacts</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-md-pull-6">
					<div class="footer-copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with <i
							class="fa fa-heart-o" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.stellar.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	
	<script type="text/javascript" th:inline="javascript">
	
	
	var page = /*[[${totalpage}]]*/;
	var pages = 1;
	
	
		$(document).ready(function() {
			
			$(".moreBox").slice(0, 4).show();
			
			if ($(".blogBox:hidden").length != 0) {
				$("#loadMore").show();
			}
			
			if (page == pages || page == 0) {
				$("#loadMore").fadeOut('slow');
			}
			
			$("#loadMore").on('click', function(e) {
				e.preventDefault();
				artikel();
				$(".moreBox:hidden").slice(0, 4).slideDown();
			});
		});
		
	    function artikel(){
				var url_api = [[@{/ajax/article/rest}]];
				$.ajax({
					type : 'GET',
					url : url_api + '?page=' + pages,
					contentType : 'application/json; charset=utf-8',
					async : true,
					success : function(result) {
						pages = pages + 1;
						create_html(result.listArticle);
					},
					error : function(jqXHR, textStatus, errorThrown) {
						alert(jqXHR.status + ' ' + jqXHR.responseText);
					}
				})
	    };
	    
		var create_html = function(data) {
			var html = '';
			$.each(data, function(key, value){
				html += '<div class="col-md-6 blogBox moreBox" id="classspost">';
				html += '<div class="post">';
 		        html += '<a class="post-img" href="/article-post/' +value.id+ '/' +value.paramUrl+"\"> ";
 		        html += '<img src="'+value.imageUrl+'" alt=""></a>';
 		       	html += '<div class="post-body">';
 		     	html += '<div class="post-category">';
 		     	html += '<a href="">'+value.category+'</a>';
 		     	html += '</div>';
 		     	html += '<h3 class="post-title">';
 		   		html += '<a href="/article-post/'+value.id+'/'+value.paramUrl+"\">"+value.title+'</a>';
 		   		html += '</h3>';
 		   		html += '<ul class="post-meta">';
 		   		html += '<li><a href="author.html">'+value.author+'</a></li>';
 		   		html += '<li>'+value.date+'</li>';
 		   		html += '</ul>';
 		   		html += '</div>';
 		   		html += '</div>';
 		   		html += '</div>';
 		   		
 		   		
 				if (page != pages) {
 					$("#loadMore").show();
 				} else {
					$("#loadMore").fadeOut('slow');
 				}
			});

		   	$('#appendArticle').append(html);
		}
	</script>
</body>

</html>
