<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="aside-widget" th:fragment="template-main-navigation">
	<div class="aside-widget">
		<div class="section-title">
			<h2 class="title">Social Media</h2>
		</div>
		<div class="social-widget">
			<ul>
				<li><a href="#" class="social-facebook"> <i
						class="fa fa-facebook"></i> <span>21.2K<br>Followers
					</span>
				</a></li>
				<li><a href="#" class="social-twitter"> <i
						class="fa fa-twitter"></i> <span>10.2K<br>Followers
					</span>
				</a></li>
				<li><a href="#" class="social-google-plus"> <i
						class="fa fa-google-plus"></i> <span>5K<br>Followers
					</span>
				</a></li>
			</ul>
		</div>
	</div>
	<!-- /social widget -->

	<!-- category widget -->
	<div class="aside-widget">
		<div class="section-title">
			<h2 class="title">Categories</h2>
		</div>
		<div class="category-widget">
			<ul th:each="category : ${listCategory}">
				<li><a href="#" th:text="${category.categoryName}"><span>451</span></a></li>
			</ul>
		</div>
	</div>
	<!-- /category widget -->

	<!-- newsletter widget -->
	<div class="aside-widget">
		<div class="section-title">
			<h2 class="title">Newsletter</h2>
		</div>
		<div class="newsletter-widget">
			<form>
				<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
				<input class="input" placeholder="Enter Your Email">
				<button class="primary-button">Subscribe</button>
			</form>
		</div>
	</div>
	<!-- /newsletter widget -->

	<!-- post widget -->
	<div class="aside-widget">
		<div class="section-title">
			<h2 class="title">Popular Posts</h2>
		</div>
		<!-- post -->
		<div class="post post-widget">
			<a class="post-img" href="blog-post.html"><img
				src="/./img/widget-3.jpg" alt=""></a>
			<div class="post-body">
				<div class="post-category">
					<a href="category.html">Lifestyle</a>
				</div>
				<h3 class="post-title">
					<a href="blog-post.html">Ne bonorum praesent cum, labitur
						persequeris definitionem quo cu?</a>
				</h3>
			</div>
		</div>
		<!-- /post -->

		<!-- post -->
		<div class="post post-widget">
			<a class="post-img" href="blog-post.html"><img
				src="/./img/widget-2.jpg" alt=""></a>
			<div class="post-body">
				<div class="post-category">
					<a href="category.html">Technology</a> <a href="category.html">Lifestyle</a>
				</div>
				<h3 class="post-title">
					<a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum
						id ullum laboramus persequeris.</a>
				</h3>
			</div>
		</div>
		<!-- /post -->

		<!-- post -->
		<div class="post post-widget">
			<a class="post-img" href="blog-post.html"><img
				src="/./img/widget-4.jpg" alt=""></a>
			<div class="post-body">
				<div class="post-category">
					<a href="category.html">Health</a>
				</div>
				<h3 class="post-title">
					<a href="blog-post.html">Postea senserit id eos, vivendo
						periculis ei qui</a>
				</h3>
			</div>
		</div>
		<!-- /post -->

		<!-- post -->
		<div class="post post-widget">
			<a class="post-img" href="blog-post.html"><img
				src="/./img/widget-5.jpg" alt=""></a>
			<div class="post-body">
				<div class="post-category">
					<a href="category.html">Health</a> <a href="category.html">Lifestyle</a>
				</div>
				<h3 class="post-title">
					<a href="blog-post.html">Sed ut perspiciatis, unde omnis iste
						natus error sit</a>
				</h3>
			</div>
		</div>
		<!-- /post -->
	</div>
	<!-- /post widget -->

	<!-- galery widget -->
	<div class="aside-widget">
		<div class="section-title">
			<h2 class="title">Instagram</h2>
		</div>
		<div class="galery-widget">
			<ul>
				<li><a href="#"><img src="/./img/galery-1.jpg" alt=""></a></li>
				<li><a href="#"><img src="/./img/galery-2.jpg" alt=""></a></li>
				<li><a href="#"><img src="/./img/galery-3.jpg" alt=""></a></li>
				<li><a href="#"><img src="/./img/galery-4.jpg" alt=""></a></li>
				<li><a href="#"><img src="/./img/galery-5.jpg" alt=""></a></li>
				<li><a href="#"><img src="/./img/galery-6.jpg" alt=""></a></li>
			</ul>
		</div>
	</div>
	<!-- /galery widget -->
</div>
</html>