<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
	<!--<![endif]-->
	<!-- start: HEAD -->

	<head>
		<title>dKnow - User Dashboard</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<head th:replace="fragment/head-fragment :: template-head">
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->

	<body>
			<div class="navbar navbar-inverse navbar-fixed-top"
		th:replace="fragment/header :: template-main-header">
		Header Here</div>
		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			<div class="navbar-content">
				<!-- start: SIDEBAR -->
						<div class="navbar-content"
			th:replace="fragment/menu-fragment :: template-main-navigation">
			Navigation Menu Here</div>
				<!-- end: SIDEBAR -->
			</div>
			<!-- start: PAGE -->
			<div class="main-content">
				<!-- start: PANEL CONFIGURATION MODAL FORM -->
				<div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title">Panel Configuration</h4>
							</div>
							<div class="modal-body">
								Here will be a configuration form
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Close
								</button>
								<button type="button" class="btn btn-primary">
									Save changes
								</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- end: SPANEL CONFIGURATION MODAL FORM -->
				<div class="container">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
							<!-- start: STYLE SELECTOR BOX -->
							<!-- end: STYLE SELECTOR BOX -->
							<!-- start: PAGE TITLE & BREADCRUMB -->
							<ol class="breadcrumb">
								<li>
									<i class="clip-home-3"></i>
									<a href="#">
										Home
									</a>
								</li>
								<li class="active">
									Dashboard
								</li>
								<li class="search-box">
									<form class="sidebar-search">
										<div class="form-group">
											<input type="text" placeholder="Start Searching...">
											<button class="submit">
												<i class="clip-search-3"></i>
											</button>
										</div>
									</form>
								</li>
							</ol>
							<div class="page-header">
								<h1>Dashboard <small> List Article </small></h1>
							</div>
							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: LIST ARTICLE -->
					<div id="panel_projects" class="tab-pane">
						<table class="table table-striped table-bordered table-hover" id="projects">
							<thead>
								<tr>
									<th class="center">
										<div class="checkbox-table">
											<label>
												<input type="checkbox" class="flat-grey">
											</label>
										</div>
									</th>
									<th>Title Article</th>
									<th class="hidden-xs">Thumbnail</th>
									<th class="hidden-xs">Tags</th>
									<th>Release Date</th>
									<th class="hidden-xs">Comment</th>
									<th class="hidden-xs center">Seen</th>
									<th class="hidden-xs center">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="article : ${list_article}">
									<td class="center">
										<div class="checkbox-table">
											<label>
												<input type="checkbox" class="flat-grey">
											</label>
										</div>
									</td>
									<td th:text="${article.title}"></td>
									<td><img th:src="${article.imageUrl}" alt="" border=3 height=50 width=100></img></td>
									<td th:text="${article.category}" class="hidden-xs">Technology</td>
									<td th:text="${article.date}">20 Agustus 2019</td>
									<td class="hidden-xs">
										<div class="progress progress-striped active progress-sm">
											<div style="width: 70%" aria-valuemax="100" aria-valuemin="0"
												aria-valuenow="70" role="progressbar"
												class="progress-bar progress-bar-warning">
												<span class="sr-only"> 70% Complete (danger)</span>
											</div>
										</div>
									</td>
									<td class="center hidden-xs"><span class="label label-danger">Critical</span></td>
												<td class="col-md-2 center"><a
													th:href="@{'/user/edit-article?id='+${article.id}}"
													class="btn btn-success btn-sm" style="margin: 0px;"> <i
														class="fa fa-pencil fa-lg-white"></i>
												</a> <a href="#" class="btn btn-danger btn-sm" style="margin: 0px;"
													data-toggle="modal"
													th:onclick="'onclick_delete('+${article.id}+');'">
														<i class="fa fa-times fa fa-white"></i>
												</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- end: lIST ARTICLE -->

				</div>
			</div>
			<!-- end: PAGE -->
		</div>
		<!-- end: MAIN CONTAINER -->



		<!-- start: FOOTER -->
		<div class="footer clearfix">
			<div class="footer-inner">
				2014 &copy; clip-one by cliptheme.
			</div>
			<div class="footer-items">
				<span class="go-top"><i class="clip-chevron-up"></i></span>
			</div>
		</div>
		<!-- end: FOOTER -->
		<div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Event Management</h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-light-grey">
							Close
						</button>
						<button type="button" class="btn btn-danger remove-event no-display">
							<i class='fa fa-trash-o'></i> Delete Event
						</button>
						<button type='submit' class='btn btn-success save-event'>
							<i class='fa fa-check'></i> Save
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- MODAL -->
	<div id="deleteModal" class="modal fade" data-backdrop="static"
		data-width="760" data-keyboard="false" style="display: none;">
		<div class="modal-header">
			<h4 class="modal-title">DELETE Your Article</h4>
		</div>

		<div class="modal-body">
			<input type="hidden" id="id_delete" />
			<div>Are you sure to DELETE this Article?</div>
		</div>


		<div class="modal-footer">
			<button type="button" id="add_dismiss" class="btn btn-default"
				data-dismiss="modal">Cancel</button>
			<button type="button" id="btn_delete_pricematrix"
				onclick="do_delete()" class="btn btn-danger">Delete</button>
		</div>
	</div>
	
	<div
		th:replace="fragment/body-fragment :: template-body-script">
		Body Scipt Here</div>
	</body>
		<div th:replace="fragment/selected-menu :: dashboard">Selected
		Menu</div>
	<!-- end: BODY -->
	
		<script type="text/javascript" th:inline="javascript">

		var onclick_delete = function(data) {
			$('#deleteModal').modal('show');
			$('#id_delete').val(data);
		}
		
		var do_delete = function() {
			var idArticle = $('#id_delete').val();
			var api_url = [[@{/ajax/article/delete-article}]];
			var JSONObject = {
				'idArticle' : idArticle
			};

			$.ajax({
				type : 'POST',
				url : api_url,
				data : JSON.stringify(JSONObject),
				contentType : 'application/json; charset=utf-8',
				async : true,
				success : function(result) {
					if(result.success == true) {
						$('#deleteModal').modal('toggle');
						 location.reload(true);
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					alert(jqXHR.status + ' ' + jqXHR.responseText);
				}
			});
		}
		
		</script>

</html>